body{
    background-color: rgb(237, 250, 255);
}
h1{
    font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
    color:rgb(27, 104, 248);
    font-size: 400%;
}
#Promo{
    font-family:  'Arial', sans-serif;
    font-weight:bold;
    font-size: 125%;
}
#main{
    position:relative;
    display: inline-block;
    width: 60vw;
    height: 60vh;
    margin-top: 10vh;
    margin-left: 20%;
    margin-right: 20%;
}
#logo{
    position:relative;
    float:left;
    width:40%;
    margin-top:10%;
    left:5%;
}
#loginForm{
    position:relative;
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 5%;
    width:40%;
    height: 45vh;
    float:right;

}
footer{
    width:100%;
    height: 70px;
    position: fixed;
    bottom: 0px;
}
fieldset{
    border: none;
}

#formsep{
    margin: 0px 10px 0 10px;
}

form{
    position: relative;
    display:block;
    height: 80%;
    border: none;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 0px 3px 3px #b6b6b6;

}

.logbutton{
    font-size:15px;
    padding:10px;
    display: block;
    height:auto;
    width: 97%;
    margin-left: 1.5%;
    margin-right: 10px;
    margin-top: 3%;
    border-radius: 5px;
}

#forgot{
    font-size: 14px;
    background-color:white;
    color: #0077ff;
    border:none;
    font-family: 'Open Sans', sans-serif;
}
.login{
    overflow-x:hidden;
    width: 90%;
    border:solid darkgrey 2px;
}

#form_footer{
    padding:10px;
    text-align: center;
    font-size:90%;
    font-family: 'Open Sans', sans-serif;
}

#NewAcc{
    margin-top: 5%;
    width:70%;
    margin-left:15%;
    background-color: rgb(15, 186, 0);
    color:white;
    border:none;
}

#Come{
    color:white;
    padding:12px;
    border:none;
    background-color: #0059ff;
}

#Come:hover,#Come:active{
    background-color: #0009a5;
    color: #9696ff;
}

#forgot:hover{
    color:blue;
}

#NewAcc:hover,#NewAcc:active{
    background-color: #0b8f01;
    color: #b8fbb4;
}